name: Renovate
"on":
  # Allows manual/automated trigger for debugging purposes
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Renovate's log level"
        required: true
        default: "debug"
        type: string
  schedule:
    - cron: "0 8 * * 1"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/renovate.yml"
      - ".github/workflows/validate-renovate-config.yml"
      - ".github/renovate.json5"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  LOG_LEVEL: "debug"

jobs:
  renovate:
    runs-on: ubuntu-24.04
    if: |
      !github.event.repository.fork &&
      !github.event.pull_request.head.repo.fork
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get token
        id: get_token
        uses: cilium/actions-app-token@61a6271ce92ba02f49bf81c755685d59fb25a59a # v0.21.1
        with:
          APP_PEM: ${{ secrets.GHA_PRIVATE_KEY }}
          APP_ID: ${{ secrets.GHA_APP_ID }}
      - run: |
          echo ${{ github.ref }}
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        env:
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          # Use GitHub API to create commits
          RENOVATE_PLATFORM_COMMIT: "true"
          LOG_LEVEL: ${{ github.event.inputs.logLevel || env.LOG_LEVEL }}
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: '[".*"]'
          RENOVATE_KEEP_UPDATED_LABEL: renovate-keep-updated
        with:
          configurationFile: .github/renovate.json5
          token: ${{ steps.get_token.outputs.app_token }}
          renovate-version: 41.40-full # renovate: datasource=docker depName=renovate packageName=ghcr.io/renovatebot/renovate
          docker-user: root
          docker-cmd-file: .github/actions/renovate/entrypoint.sh
          mount-docker-socket: true
