name: Validate Renovate Config
"on":
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/renovate.json5

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
      - name: Validate Renovate JSON
        run: npx --yes --package renovate -- renovate-config-validator
